//  nav styles
// over-riding bulma styles


.mainLogo {
  padding: 5.5em 0em 5em 0em;

  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -moz-animation: fadein 3s; /* Firefox */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera */
  animation: fadein 3s;
}


.mainLogo img {
max-width: 70%;
margin: 0 auto;
}
.vgangbLogo {
  font-family: futura-pt, sans-serif;
  font-size: 70px;
  color: #66064a;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar {
  min-height: auto;
  background: #3c5aa985;
}

// .topLeftLogo {
//   padding-right: 4em;
// }

​ ​ .navbar-item,
.navbar-link {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  color: #ffdef5;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-item {
  font-family: futura-pt, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 24px;
  color: #ffdef5;
  text-transform: uppercase;
  text-decoration: none;
}
.navbar-start a {
  font-size: 1em;
}

 .navbar-start a:after {
  padding-left: 1em;
  content: " / ";
  color: #c06192;
 }

.navbar-Brand .button {
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -moz-animation: fadein 3s; /* Firefox */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera */
  animation: fadein 3s;
}


.navbar-dropdown {
  background: #71c1c2;
  background-image: linear-gradient(111deg, #d70959c4 0%, #da8962cf 20%, #31a7798a 45%, #7ccbe085 60%, #c53780 90%, #4e1ca4ed 95%);

}

.navbar-dropdown a.navbar-item {
  font-size: 1em;
  color: #66064a;
}

// footer nav

.navbar.is-fixed-bottom {
  bottom: 0;
  height: 100px;
}

// nav menu mobile swaps

.navbar-burger {
  color: #c06192;
}

.navbar-burger span:nth-child(1) {
  top: calc(90% - 6px);
}
.navbar-burger span:nth-child(2) {
  top: calc(103% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(120% + 4px);
  width: 50px;
}

.navbar-burger span {
  background-color: #c06192;
  display: block;
  height: 4px;
  left: calc(-30% - 8px);
  position: absolute;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  width: 50px;
}
