html,
body {
  background: #71c1c2;
}


 // background-image: url("/images/cupcakes3.jpg");

.rainbow {

  background-size: contain;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(111deg, #d70959c4 0%, #da8962cf 20%, #31a7798a 45%, #7ccbe085 60%, #c53780 90%, #4e1ca4ed 95%);
    opacity: 1;
  }
}

.tile {
  align-items: stretch;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: min-content;
  border-radius: 0px;
}



.notification.is-primary {
  background-color: #d71b7b;
  color: #66064a;
  text-transform: uppercase;
  font-family: futura-pt, san-serf;
  font-weight: 500;
}

.notification.is-warning {
  background-color: #ffdd57a1;
  color: #66064a;
  text-transform: uppercase;
  font-family: futura-pt, san-serf;
  font-weight: 500;
}

.notification.is-danger {
  background-color: #ff38609e;
  color: #66064a;
  text-transform: uppercase;
  font-family: futura-pt, san-serf;
  font-weight: 500;
}

.notification.is-info {
  background-color: #5a254a;
  color: #d8cfd5;
  text-transform: uppercase;
  font-family: futura-pt, san-serf;
  font-weight: 500;
}

.notification.is-success {
  background-color: #74a88e;
  color: #862689;
  text-transform: uppercase;
  font-family: futura-pt, san-serf;
  font-weight: 500;
}
